.login-input{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: min(20px, 3vw);
    background-color: white;
    color: black;
    box-sizing: border-box;
    border-radius: 3vw;
    font-size: clamp(0.75rem, 1vw, 2rem);
    border: 1px solid black;
    outline: 1px solid black;
    box-shadow: none;
}
.login-input:focus{
    outline: 1px solid #8F001A;
    border: 1px solid #8F001A;
    color: #8F001A;
}