.navbar-body{
  width: 100%;
  height: 8vh;
  background-color: #8C0327;
  box-sizing: border-box;
  /* padding: 0 min(15px, 5vw); */
  max-width: 500px;
  display: flex;
  align-items: center;
  color: white;
  position: fixed;
  bottom: 0;
  /* left: 0; */
  z-index: 4;
  background:
  radial-gradient(50% 50% at 100% 0,var(--_g2)),
  radial-gradient(50% 50% at 0 100%,var(--_g2)),
  radial-gradient(50% 50%,var(--_g2)),
  radial-gradient(50% 50%,var(--_g2)) calc(var(--s)/2) calc(var(--s)/2)
  var(--c3);
  background-size: var(--s) var(--s);
}
.navbar-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}
.navbar-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  color: grey; /* Default text and icon color */
  transition: color 0.3s ease;
}
.navbar-item.active {
  color: white; /* Active text and icon color */
}
.navbar-icon {
  margin-bottom: 4px; /* Adjust spacing as needed */
}
.navbar-text{
  font-size: 0.65em;
}