.pill{
    width: fit-content;
    /* border: 1px solid #8F001A; */
    border: 1px solid white;
    height: fit-content;
    font-size: clamp(0.65rem, 1vw, 2rem);
    border-radius: 2.5vw;
    padding: 0.85vw;
}