.create-event-layers{
    box-sizing: border-box;
    height: 100%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.create-event-title{
    font-size: var(--header-font-size);
    font-family: 'Gloock';
}
.event-processing{
    box-sizing: border-box;
    height: 73%;
    padding: 0 min(10vw, 25px);
    flex: 7;
}
