.create-event-layers{
    box-sizing: border-box;
    height: 100%;
    height: 100%;
    width: 100%;
    overflow: scroll;
}
.create-event-title{
    font-size: var(--header-font-size);
    font-family: 'Gloock';
}
.event-processing{
    box-sizing: border-box;
    height: 73%;
    padding: 0 min(10vw, 25px);
    flex: 7;
}
/* .event-nav-back{
    display: flex;
    align-items: center;
    justify-content: center;
} */
.event-details-container{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: min(20px, 5vw);
}
.event-actions{
    width: 100%;
    height: fit-content;
    display: flex;
    box-sizing: border-box;
    padding: 10px 0;
}
.event-actions div{
    box-sizing: border-box;
    padding: 5px;
    height: fit-content;
}
#create-event-back{
    display: flex;
    justify-content: start;
    box-sizing: border-box;
    padding-left: 20px;
}
.event-image-upload{
    width: 100%;
    height: fit-content;
}
.upload-container{
    padding: min(20px, 5vw);
    display: flex;
    flex-direction: column;
    gap: 2vh;
}
.upload-header{
    display: flex;
    font-size: 1.1rem;
    font-family: 'Gloock';
}
.create-event-title{
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: start;
    align-items: start;
}
.create-event-title > input{
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
    width: 100%;
}
.autosize {
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem;
    line-height: 1.4;
    overflow: hidden;  
    resize: none;  
    min-height: 3rem; 
    font-family: 'Helvetica Neue';
}
.time-inputs{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 100%;
    gap: 5px;
}
.time-field{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.time-field > label{
    font-family: 'Helvetica Neue';
    font-size: 0.8rem;
}
.time-field > input{
    width: 70%;
}