.image-upload-container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: start;
    box-sizing: border-box;
}
.image-upload-input{
    box-sizing: border-box;
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
}
textarea:focus{
    outline: none;
}