.club-page-layers{
    box-sizing: border-box;
    height: max(92vh, fit-content);
    display: flex;
    flex-direction: column;
    overflow: scroll;
    position: relative;
}
.club-page-hero{
    display: flex;
    align-items: end;
}
.club-main-page-header{
    height: 18vh;
    width: 100%;
    background-color: red;
    overflow: hidden;
}
.club-main-page-header > img{
    width: 100%;
}
.club-page-container{
    width: 100%;
    height: fit-content;
    padding: min(20px, 5vw);
    box-sizing: border-box;
    padding-top: 0;
}
.club-main-details{
    width: 100%;
    height: fit-content;
    display: flex;
    gap: 20px;
    box-sizing: border-box;
    padding: 0.5rem;
}
.club-main-logo{
    background-color: rebeccapurple;
    height: 10vh;
    width: 10vh;
    border-radius: 50%;
    bottom: 0;
}
.club-main-name{
    width: calc(100% - 12.5vh);
    text-align: start;
    font-size: 1rem;
    display: flex;
    align-items: center;
    color: white;
}
.club-posts{
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-sizing: border-box;
    padding: 2vh;
}