@media (orientation: portrait) {
    /*
        All code for the styling should go here
        We are using portrait because phones
        
    */
    .home-layers{
        box-sizing: border-box;
        height: max(92vh, fit-content);
        display: flex;
        flex-direction: column;
        gap: 10px;
        overflow: scroll;
        position: relative;
        padding: min(20px, 5vw);
    }
    .homepage-buttons{
        height: calc(min(100vw, 500px) - min(30px, 10vw)*2);
        width: 100%;
        border-radius: 3vw;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 5px;
        color: white;
    }
    .homepage-buttons > div{
        border-radius: 16px;
        /* aspect-ratio: 1/1; */
    }
    .uottawa-news{
        grid-column: span 2;
        grid-row: span 2;
        aspect-ratio: auto;
        border-radius: 16px;
        display: flex;
        padding: min(12px, 3vw);
        box-sizing: border-box;
        flex-direction: column;
        background-color: #632A39;/* the colour for the newspaper svg 8C3B51*/
        opacity: 1;
    }
    .homebutton-header{
        height: 50%;
        width: 100%;
        display: flex;
        justify-content: left;
        font-size: clamp(0.85rem, 3.5vw, 1.25rem);
    }
    .homebutton-bottom{
        height: 50%;
        width: 100%;
        display: flex;
        justify-content: end;
        text-align: end;
        align-items: end;
        font-size: clamp(8px, 2.5vw, 12px);
    }
    .feedback{
        grid-column: span 2;
        grid-row: span 1;
        aspect-ratio: auto;
        padding: min(15px, 5vw);
    }
    .newsletter{
        grid-column: span 2;
        grid-row: span 2;
        aspect-ratio: auto;
        padding: min(15px, 5vw);
        background-color: #D46FAA;
        opacity: 0.8;
        background-image: radial-gradient( ellipse farthest-corner at 11px 11px , #CC5999, #CC5999 50%, #D46FAA 50%);
        background-size: 11px 11px;
    }
    .newsletter2{
        grid-column: span 2;
        grid-row: span 2;
        aspect-ratio: auto;
        padding: min(15px, 5vw);
    }
    .feedback2{
        grid-column: span 2;
        grid-row: span 1;
        aspect-ratio: auto;
        padding: min(15px, 5vw);
        background:
        radial-gradient(50% 50% at 100% 0,var(--_g)),
        radial-gradient(50% 50% at 0 100%,var(--_g)),
        radial-gradient(50% 50%,var(--_g)),
        radial-gradient(50% 50%,var(--_g)) calc(var(--s)/2) calc(var(--s)/2)
        var(--c1);
        background-size: var(--s) var(--s);
    }
}
html {
    --s: 64px; /* control the size*/
    --c1: #c8585d;
    --c2: #cd6a65;
    
    --_g: 
       var(--c1) 0%  5% ,var(--c2) 6%  15%,var(--c1) 16% 25%,var(--c2) 26% 35%,var(--c1) 36% 45%,
       var(--c2) 46% 55%,var(--c1) 56% 65%,var(--c2) 66% 75%,var(--c1) 76% 85%,var(--c2) 86% 95%,
       #0000 96%;
}