@media (orientation: portrait) {
    /*
        All code for the styling should go here
        We are using portrait because phones
        
    */
    .home-layers{
        box-sizing: border-box;
        height: 100%;
        padding: min(30px, 10vw);
    }
}