@media (orientation: portrait) {
    .search-layers{
        box-sizing: border-box;
        height: max(92vh, fit-content);
        display: flex;
        flex-direction: column;
        gap: 10px;
        overflow: scroll;
        position: relative;
        padding: min(20px, 5vw);
    }
    .search-bar-container{
        height: 5vh;
        background-color: red;
        box-sizing: border-box;
    }
    .following-header-container{
        margin: 10px 0;
    }
    .following-header-container > p{
        margin: 0;
    }
    .following-header{
        text-align: start;
        font-size: 1.5rem;
        font-family: 'Gloock';
    }
    .following-details{
        font-size: 0.8rem;
        text-align: start;
        opacity: 0.7;
    }
    .followed-events-container{
        width: 100%;
        height: fit-content;
        display: flex;
        overflow: scroll;
        gap: 10px;
    }
    .not-following-events{
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .not-follow-event{
        width: 100%;
        height: fit-content;
    }
    .event-main-details{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
    }
    .event-main-image{
        width: 40vw;
        height: 40vw; 
        background-color: cadetblue;
    }
    .event-main-name{
        box-sizing: border-box;
        padding: min(5px, 3vh);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .event-main-name > div{
        text-align: right;
    }
    .event-main-name > div:nth-child(1){
        font-family: 'Gloock';
    }
    .event-main-name > div:nth-child(2){
        font-size: 0.75rem;
        opacity: 0.8;
    }
    .event-main-name > div:nth-child(3){
        font-size: 0.75rem;
        opacity: 0.6;
    }
}